.box {
    position: absolute;
    width: 350px;
    height: 500px;
    border: 2px solid #000;
    background-color:#3b4cca;
    padding: 10px;
    color: #3b4cca;
    left: 40%;
}

h1 {
   text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
    color: #ffcb05;
    text-shadow: 3px 3px 0 #3b4cca, 6px 6px 0 #2a75bb;
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 1px;

     text-shadow:
        -4px -4px 0 #3b4cca,
         4px -4px 0 #3b4cca,
        -4px  4px 0 #3b4cca,
         4px  4px 0 #3b4cca,
         0px  0px 15px #2a75bb;
    transform: skew(-5deg);
}

body {
    background-image: url(AccountCreateBackgroundImage.WEBP);
    background-size: cover;
}

#usernameLabel,
#passwordLabel {
    display: inline-block;
    font-family: 'Pokemon Solid', sans-serif;
    color: #ffcb05;
    text-align: left;
    font-size: larger;
    width: 90px;
}


#submit{
    padding: 5px 20px;
    text-align: center;
    display:flex;
    margin: 4px 2px;
}

#backHome {
    display: inline-block;
    margin-top: 140px;
    margin-left: 90px;
    color: #ffcb05;
    font-family: 'Pokemon Solid', sans-serif;
    background-color: #3b4cca;
    padding: 8px 14px;
    border: 2px solid #ffcb05;
    border-radius: 8px;
    transition: 0.2s;
}
