body {
    background-color: darkslateblue;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: yellow;
    margin-top: 15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.card {
    width: 180px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 8px;
}

header {
    text-align: left;
    
}

.home-btn-container {
    padding-top: 25px;
    padding-left: 10px;
}

.collectionHomeBtn {
    padding: 8px 14px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    transition: 0.15s ease;
}
