@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

body {
  background-image: url(backgroundImage2.webp);
  background-size:cover;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-family: 'Pokemon Solid', sans-serif;
  color: #ffcb05;
  text-shadow: 3px 3px 0 #3b4cca, 6px 6px 0 #2a75bb;
  font-size: 4rem;
  letter-spacing: 2px;
  margin-top: 1px;

  text-shadow:
    -4px -4px 0 #3b4cca,
    4px -4px 0 #3b4cca,
    -4px  4px 0 #3b4cca,
    4px  4px 0 #3b4cca,
    0px  0px 15px #2a75bb;
  transform: skew(-5deg);
}
.Navbar {
  background-color: rgba(48, 91, 157, 0.7);
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.Navbar a {
  color:#ffcb05;
  font-family: 'Courier New', Courier, monospace;
  padding: 14px 16px;
  font-size: 17px;

}
.Packs {
  width: 1000px;
  flex-grow: 1;
  border: 2px solid #333;
  background-color: rgba(94, 90, 90, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto 0;
}
