@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

body {
  background-image: url(backgroundImage2.webp);
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  font-family: 'Pokemon Solid', sans-serif;
  color: #ffcb05;
  text-shadow: 3px 3px 0 #3b4cca, 6px 6px 0 #2a75bb;
  font-size: 4rem;
  letter-spacing: 2px;
  margin-top: 1px;

  text-shadow:
    -4px -4px 0 #3b4cca,
    4px -4px 0 #3b4cca,
    -4px  4px 0 #3b4cca,
    4px  4px 0 #3b4cca,
    0px  0px 15px #2a75bb;
  transform: skew(-5deg);
}
.Navbar {
  background-color: rgba(48, 91, 157, 0.7);
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.Navbar a {
  color:#ffcb05;
  font-family: 'Courier New', Courier, monospace;
  padding: 14px 16px;
  font-size: 17px;

}

.Packs {
    width: 1040px;
    height: auto;
    padding: 16px;
    border: 15px solid #3b4cca;
    background-color: rgba(217, 193, 36, 0.87);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    font-size: 22px;
    font-family: "Comic Sans MS", "Trebuchet MS", "Arial Rounded MT Bold", Arial, sans-serif;
}
.Pokedex {
  width: 1000px;
  min-height: 250px;
  border: 15px solid #3b4cca;
  background-color: rgba(217, 193, 36, 0.87);
  margin: 20px auto;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 15px;
  justify-items: center;
  width: 90%;
  margin-top: 10px;
}

.pokemon-card {
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  font-family: 'Courier New', monospace;
}

.pokemon-card img {
  width: 96px;
  height: 96px;
}
